body {
  margin: 0;
  overflow-y: scroll;
  print-color-adjust: exact !important;
  touch-action: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.google-login-button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display:flex;
  flex-direction: row;
 justify-content:center;
}

/* Todo row animaties, veel te moeilijk dankzij MUI :) */
.todo-enter div {
  overflow-y: hidden;
  max-height: 0;
}
.todo-enter-active div {
  max-height: 50px;
  transition: all 200ms ease-in-out;
}
.todo-exit div {
  max-height: 50px;
}
.todo-exit-active div {
  max-height: 0;
  overflow-y: hidden;
  transition: all 200ms ease-in-out;
}

.todo-enter td {
  border-width: 0px;
}
.todo-enter-active td {
  border-width: 1px;
  transition: all 100ms ease-in-out;
}
.todo-exit td {
  border-width: 1px;
}
.todo-exit-active td {
  border-width: 0px;
  transition: all 100ms ease-in-out;
}

td {
  padding: 0 !important;
}
